@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="/Home/TestDB">TestDB</a> <br /> <br />
@Html.ActionLink("FakturaController/Index (potrebno implementirati) ", "Index", "Faktura")
<br />