@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StudentPrisustvoNaNastavi
Ime studenta
@Model.ImeStudenta

<table>
    <thead>
        <tr>
            <th>Predmet</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Zapis)
        {
            <tr>
                <td>@x.Predmet</td>
                <td>@x.Datum</td>
            </tr>
        }
    </tbody>
</table>