@using Vjezba21102020.EntityModels
@using Vjezba21102020.Helper;

@model StudentDodajVM

@{ 
 }

<form asp-action="Snimi" asp-controller="Student">
    <div style="display:none">
        <label>StudentID</label>
        @*<input name="StudentID" readonly value="@Model.ID" />*@
        <input name="StudentID" readonly asp-for="ID" />
    </div>
    <div>
        <label> Ime </label>
        <input name="Ime" asp-for="Ime" />
    </div>
    <div>
        <label>Prezime</label>
        <input name="Prezime" asp-for="Prezime" />
    </div>
    <div>
        <label>OpstinaRodjenjaID</label>
        <select asp-for="OpstinaRodjenjaID" asp-items="Model.opstine">
           
        </select>
    </div>
    <div>
        <label>OpstinaPrebivalistaID</label>
        <select asp-for="OpstinaPrebivalistaID" asp-items="Model.opstine">
            
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Snimi" class="btn btn-primary" />
    </div>
</form>
