@model WebApplication2.ViewModels.StavkeFaktureDodajVM

@{
    ViewData["Title"] = "Dodaj";
    Layout = null;
}

<h4>Dodaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Snimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StavkaID" class="control-label"></label>
                <input asp-for="StavkaID" hidden class="form-control" />
                <span asp-validation-for="StavkaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FakturaID" class="control-label"></label>
                <input asp-for="FakturaID" hidden class="form-control" />
                <span asp-validation-for="FakturaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proizvod" class="control-label"></label>
                <select asp-for="Proizvod" asp-items="Model.Proizvodi" class="form-control" > </select>
                <span asp-validation-for="Proizvod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolicina" class="control-label"></label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag na listu</a>
</div>

