@model WebApplication2.ViewModels.FakturaDodajVM

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>

<h4>FakturaDodajVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="StavkaForma" asp-action="Snimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KlijentID" class="control-label"></label>
                <select asp-for="KlijentID" asp-items="Model.KlijentStavke" class="form-control" > </select>
                <span asp-validation-for="KlijentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PonudaID" class="control-label"></label>
                <select asp-for="PonudaID" asp-items="Model.PonudaStavke" class="form-control" > </select>
                <span asp-validation-for="PonudaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" onclick="StavkaSnimi()" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

