@model eUniversity_Identity.Models.StudentOcjenaUrediVM

    @{
        ViewData["Title"] = "Uredi";
        Layout = null;
    }

    <h1>Uredi</h1>

    <h4>StudentOcjenaUrediVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="OcjenaForma" asp-action="Snimi" asp-controller="StudentOcjene">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OcjenaID" class="control-label"></label>
                    <input type="hidden" asp-for="OcjenaID" class="form-control" />
                    <span asp-validation-for="OcjenaID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImeStudenta" class="control-label"></label>
                    <input asp-for="ImeStudenta" class="form-control" disabled />
                    <span asp-validation-for="ImeStudenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NazivPredmeta" class="control-label"></label>
                    <input asp-for="NazivPredmeta" class="form-control" disabled />
                    <span asp-validation-for="NazivPredmeta" class="text-danger" ></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ocjena" class="control-label"></label>
                    <input asp-for="Ocjena" class="form-control" />
                    <span asp-validation-for="Ocjena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Snimi" class="btn btn-primary" onclick="OcjeneSnimi()" />
                </div>
            </form>
        </div>
    </div>

